*.csv
#*.jpeg
#*.jpg
#*.png

data/train_data.npz
data/Japanese Art/*

model/DCGAN_1/*
model/DCGAN_2/*
model/DCGAN_3/*


model/VAE_1/*
model/VAE_2/*
model/VAE_3/*
model/VAE_4/*
model/VAE_2_dim200/*

#weights for models:
*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.
# mkdocs documentation
/site

# mypy
.mypy_cache/
.vscode/
